.OrderButton {
	background: linear-gradient(to bottom right, #ff79da, #9356dc);
	color: white;
	border: none;
	padding: 1rem 2rem;
	border-radius: 25px;
	font-weight: 500;
	cursor: pointer;
	transition:
		transform 0.2s,
		box-shadow 0.2s;
	width: 186px;
	height: 50px;
	flex-shrink: 0;

	margin-top: 0px;
}
.OrderButton__span {
	color: var(--White, #fff);
	text-align: center;
	/* Button */
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.OrderButton:hover {
	transform: scale(1.02);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
